@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    /* overflow: hidden; */
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.orange {
    color: #FD9519;
}

.blue {
    color: #2A0ACD !important;
}

.bg-orange {
    background-color: #FD9519;
}

/* Notification Drropdown */

header {
    position: relative;
}

.noti {
    width: 350px;
    position: absolute;
    top: 75px;
    color: black;
    right: 20px;
    background-color: white;
    /* height: 400px; */
    padding: 5px 0px;
    display: none;

}

section {
    margin-top: 50px;
}

.vieww .noti {
    display: block;
}

.noti a {
    text-decoration: none;
    color: black;
}

.see a {
    color: #FD9519;
}

.book .ook {
    background-color: #FFEAD1;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3px 5px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.ook span {
    font-size: 30px;
}

.book img {
    width: 50%;
    border-radius: 50%;
}

.book p {
    font-size: 11px;
} 

.new {
    font-size: 12px;
} 

.all {
    font-size: 13px;
}

.pp {
    margin-top: 10px;
}

.search {
    background-color: #f9f9f9;
}
.search input {
    width: 50%;
}

.search button {
    right: 20%;
    padding: 5px 0;
}

.search-icon {
    top: 25%;
    left: 4%;
    width: 15px;
}

footer,
.copyright {
    background-color: #070222 !important;
}

.w-30 {
    width: 30%;
}

input {
    outline: none;
}

.copyright {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/* .bell {
    background-color: orangered;
} */

.hero {
    background-image: url(../img/landing-background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {

    .search-body {
        flex-direction: column !important;
    }
    .search-box {
        width: 100% !important;
    }
    .search-box input {
        width: 90% !important;
    }
    .search button {
        right: 2%;
    }

    .search {
        width: 80%;
    }

    .stats {
        width: 100% !important;
        margin: 20px auto 0;
        font-size: 15px;
    }

    .socials {
        margin: 15px auto 30px !important;
        width: 60% !important;
    }
    .copyright {
        width: 70%;
    }
    footer .position-relative {
        width: 90%;
    }
    .company {
        padding-left: 12px !important;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .faq {
        /* width: 80%; */
        font-size: 10px;
        align-items: center;
        text-align: center;
    }

    .bur-j2 img {
        width: 100%;
    }

    /* .terms {
        border: none;
        padding: 3px;
    } */
}









.bur-j2 {
    position: relative;
    overflow: hidden;
}